<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Monitor System</title>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='home.css') }}">
</head>
<body>
    <header>
        <div class="brand">
            <h1>Attendance Monitor System</h1>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="dashboard.html">dashboard</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="module-container">
            <div class="module" data-href="{{ url_for('module') }}">Module 1</div>
            <div class="module" data-href="{{ url_for('module') }}">Module 2</div>
            <div class="module" data-href="{{ url_for('module') }}">Module 3</div>
        </div>
        <p class="notes">This page is for inputting attendance password.</p>
    </main>
    <script>
        document.querySelectorAll('.module').forEach(function(element) {
            element.addEventListener('click', function() {
                window.location.href = this.getAttribute('data-href');
            });
        });
    </script>
</body>
</html>
