<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard - Attendance Monitor System</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>
        <div class="brand">
            <h1>Attendance Monitor System</h1>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="dashboard.html" class="active">dashboard</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Attendance Log Table -->
        <div class="form-container">
            <form action="/submit-attendanceData" method="POST">
                <label for="usename">User Name:</label>
                <input type="text" id="username" name="username" required>
                <div class="password">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="buttons">
                    <button type="submit">OK</button>
                    <button type="button" onclick="window.history.back()">Cancel</button>
                </div>
            </form>
        </div>
        <p class="notes">This page is for login.</p>
    </main>
</body>
</html>
