<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module Page</title>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='module.css') }}">
</head>
<body class="module-page">
    <header>
        <div class="brand">
            <h1>Attendance Monitor System</h1>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <form action="/submit-password" method="POST">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <div class="buttons">
                    <button type="submit">OK</button>
                    <button type="button" onclick="window.history.back()">Cancel</button>
                </div>
            </form>
        </div>
        <p class="notes">This page is for choosing module which user attend.</p>
    </main>
</body>
</html>
